<div>
    <h2>List of Reservations</h2>
    <ul *ngIf="reservations.length > 0; else noReservation">
        <li *ngFor="let reservation of reservations">
            Guest: {{reservation.guestName}}<br>
            Email: {{reservation.guestEmail}}<br>
            Room: {{reservation.roomNumber}}<br>
            Check-in: {{reservation.checkInDate}}<br>
            Check-out: {{reservation.checkOutDate}}<br>
            <button (click)="deleteReservation(reservation.id)">Delete</button>
        </li>
    </ul>
    <br />
    <button class="router-button" [routerLink]="'/new'"> Do a new reservation </button>
</div>

<ng-template #noReservation>
    <p> No Reservation Available at the moment, go book a room and come again!</p>
</ng-template>